/*
    Slideouts for FAQ's
*/

.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;}
.modal-dialog-slideout .modal-header h5 {float:left;}

.slideout-faq {padding-right: 0!important;}
.slideout-faq .modal-header {
  position: relative;
  display: flex;
  background-color: var(--main-color);
  border-radius: 0;
  height: 100px;
  min-height: 100px;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) 100%), url(https://tryhackme.com/img/illustrations/tryhackme_teaching.png);
  background-size: 500px;
  object-fit: cover;
  background-position: center;
  border-bottom: 0;
}

.slideout-faq .modal-header > .modal-title {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  z-index: 10;
  background: #2f82fb;
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-right-radius: 5px;
}

.slideout-faq .close {
  color: white;
}

.slideout-faq .modal-body {
  background-color: #242729;
  color: white;
  padding: 0;
}

.faq-item {
  color: white;
  background-color: #3e3e3e;
  border-bottom: 1px solid rgb(36, 39, 42);
  padding-top: 10px;
  padding-bottom: 10px;
}

.faq-item .faq-desc * {
  color: #cccccc;
}

.faq-icon {
  width: 15px;
  margin-right: 1em;
}

.faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.faq-title:hover {
  cursor: pointer;
}

.faq-desc {
  padding-top: 1em;
  color: #cccccc;
}

.faq-desc p:last-child {
  margin-bottom: 0;
}

.faq-title,
.faq-desc {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.faq-quicklinks .card {
  background-color: #3e3e3e;
}`

.faq-quicklinks-title {
  transition: all .2s ease-in-out;
}

.faq-quicklinks .card:hover .faq-quicklinks-title {
  color: var(--hacker-green);
}

.faq-slideout-1 {
  color: var(--hacker-green);
  border: 1px solid var(--hacker-green);
}

.faq-slideout-1:hover {
  background-color: var(--hacker-green);
  outline: 0;
  box-shadow: 0;
}

.faq-slideout-1:focus,
.faq-slideout-1:active {
  outline: none !important;
  box-shadow: none;
}